.container {
  border-radius: 24px;
  overflow: hidden;
  .header {
    padding: 20px 30px 10px 30px;
    background-color: #ffffff;
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 24px;
      color: #000000;
      margin-bottom: 0;
    }
    .icon {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;
    }
  }
  .content {
    padding: 26px 30px;
    background-color: rgba(196, 196, 196, 0.17);
    .customContainerStyle {
      display: flex;
      align-items: center;
    }
    .customLabel {
      margin-bottom: 0;
      margin-right: 10px;
    }
    .customNote {
      margin-left: 16px;
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 52px;
      .row {
        display: flex;
        align-items: center;
      }
      .cancel {
        color: #444444;
        font-size: 16px;
        margin-right: 26px;
        text-decoration: underline;
      }
      .btnCreate {
        height: 48px;
        background: #1676E5;
        border-radius: 10px;
        font-size: 20px;
        color: #FBFFFF;
        font-weight: bold;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px
      }
    }
  }
}