.container {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 6px;
  .percent {
    color: #5e6c84;
    font-size: 11px;
    line-height: 10px;
    text-align: left;
    width: 32px;
    margin-right: 8px;
    margin-bottom: 0;
  }
  .progress {
    background: rgba(9,30,66,.08);
    border-radius: 4px;
    height: 8px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .current {
    background: #5ba4cf;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition-property: width,background;
    transition-duration: .14s;
    transition-timing-function: ease-in;
    transition-delay: .2s;
  }
}