.container {
  display: flex;
  margin: -30px;
  .left {
    flex: 1;
    height: calc(100vh - 60px);
    overflow: auto;
    padding: 40px 40px 70px 40px;
  }
  .calendar {
    width: 560px;
    background: #fafbfc;
    border-left: 1px solid #e9ebf0;
    height: calc(100vh - 60px);
  }
}