.container {
  .calendar {
    height: calc(100vh - 160px);
  }
}

:global {
  .rbc-events-container {
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(288, calc(80px / 12));
  }
  
  .rbc-day-slot .rbc-event {
    position: static;
  }

  @media (max-width: 767px) {
    .rbc-day-slot {
      .rbc-event-content {
        font-size: 10px;
        text-align: center;
      }
      .rbc-event-label {
        font-size: 9px;
        text-align: left;
      }
    }
    .rbc-event {
      padding: 4px 2px;
    }
  }
  
}
